<app-navbar-component></app-navbar-component>
<div class="container-fluid">

    <div class='container p-4'>
        <div class="ism-slider" data-play_type="loop" id="my-slider">
            <ol>
                <li>
                    <img src="https://via.placeholder.com/300x200.png?text=banner 1">
                </li>
                <li>
                    <img src="https://via.placeholder.com/300x200.png?text=banner 2">
                </li>
                <li>
                    <img src="https://via.placeholder.com/300x200.png?text=banner 3">
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let product of products" class="col-6 col-md-3 col-xs-4">
            <div class="card m-2">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://via.placeholder.com/300x200.png?text={{product.descricao}}"
                            class="card-img-top" alt="Produto 1">
                        <div class="card-body">
                            <h5 class="card-title">{{product.descricao}}</h5>
                            <p class="card-text">{{product.descricaoCurta}}</p>
                            <button class="btn btn-primary" (click)="addProductToCart(product)">Comprar</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ product.preco | currency:"BRL":"symbol":"2.2-2" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 form-inline float-left mr-1">
            <select class="form-control" [value]="productsPerPage" [(ngModel)]="productsPerPage">
                <option value="3">3 por página</option>
                <option value="4">4 por página</option>
                <option value="6">6 por página</option>
                <option value="8">8 por página</option>
            </select>
        </div>

        <div class="col-1 btn-group float-right">
            <button *counter="let page of pageCount" (click)="changePage(page)" class="btn btn-outline-primary"
                [class.active]="page == selectedPage">
                {{page}}
            </button>
        </div>
    </div>
</div>

<button class="btn btn-block btn-danger m-t-3" routerLink="/admin">
    Admin
</button>