body{
    overflow-x: hidden;
}
.box{
    top: 70px;
    width: 100%;
    margin-left: -24px;
    box-sizing: border-box;
    height: 150px;
    position: absolute;
    z-index: -1;
}
.mb-7{
    margin-bottom: 30px;
}
h2{
    margin-top: 15px;
}
.mt1{
    margin-top: -50px;
}
.p-absolute{
    position: absolute;
}