<app-top-pages title="Adicionar Produto" description="Seus produtos estão todos aqui" icon="fa-regular fa-file"
    route=""></app-top-pages>
<div class="form-control card-shadow">
    <form novalidate #form="ngForm" (ngSubmit)="save(form)">
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" name="descricao" [(ngModel)]="product.descricao" />
        </div>
        <div class="form-group">
            <label>Categoria</label>
            <select class="form-control" name="descricao" [(ngModel)]="product.categoria_id">
                <option value="">Selecione</option>
                <ng-template ngFor let-category [ngForOf]="getCategories()">
                    <option value="{{category.id}}">{{category.descricao}}</option>
                </ng-template>
            </select>
        </div>
        <div class="form-group">
            <label>Descricao</label>
            <textarea class="form-control" name="descricaoCurta" [(ngModel)]="product.descricaoCurta">
            </textarea>
        </div>
        <div class="form-group">
            <label>Preço</label>
            <input class="form-control" name="preco" [(ngModel)]="product.preco" inputmode="numeric"/>
        </div>
        <div class="form-group">
            <label>Quantidade</label>
            <input class="form-control" name="unidade" [(ngModel)]="product.unidade" />
        </div>
        <div class="form-group m-1">
            <div class="row">
                <div class="col-11">
                    <label>Imagens</label>
                </div>
                <div class="col-1">
                    <i class="fa-regular fa-plus c-pointer float-right" (click)="addImage()"></i>
                </div>
            </div>
            <div *ngFor="let image of product.images; index as i">
                <app-productImages [imageComponent]="images[i]" (onAlert)="alerta($event)">
                </app-productImages>
            </div>
        </div>
        <button type="submit" class="btn btn-success" [class.btn-warning]="editing">
            {{editing ? "Salvar" : "Adicionar"}}
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
            Cancel
        </button>
    </form>
</div>