<app-top-pages title="Categorias" description="Seus categorias estão todos aqui" icon="fa-solid fa-list" route="/admin/main/categories/save"></app-top-pages>
<div class="form-control card-shadow">
    <table class="table table-hover text-dark">
        <thead>
            <th>#</th>
            <th>Descrição</th>
            <th>Categoria Pai</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <ng-template ngFor let-category [ngForOf]="getCategories()">
                <tr>
                    <td>#{{category.id}}</td>
                    <td>{{category.descricao}}</td>
                    <td>{{category.categoria_pai ? category.categoria_pai.descricao : category.idCategoriaPai }}</td>
                    <td>
                        <a class="btn btn-secondary" routerLink="/admin/main/categories/edit/{{category.id}}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" (click)='deleteCategories(category.id ? category.id : 0)'><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>